doctype html
html.no-js
  head
    meta(charset='utf-8')
    title standard document form
    meta(name='description' content='')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon' href='apple-touch-icon.png')
    link(rel='stylesheet' href='styles/main.css')

  body

    .container
      block content

    //build:modernizr
    script(src='../bower_components/modernizr/modernizr.js')
    //endbuild

    //build:require
    script(data-main='scripts/main' src='../bower_components/requirejs/require.js')
    //endbuild
